name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy on'     
        required: true
        default: "dev"
      action:
        description: 'Terraform Action to perform'     
        required: true
        default: "autoapply"
      extraArgs:
        description: 'Extra Args for tf command'
        required: false

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: get submodules
      run: git submodule update --init --recursive
      
    - name: VS Generator
      run: mkdir out && cmake -G "Visual Studio 16 2019" -A Win32 -S ./ -B "out"
    - name: compile
      run: cmake --build out --config Release
      
    - name: Upload GDSplashes
      uses: actions/upload-artifact@v2.2.4
      with:
        name: GDSplashes.dll
        path: ./out/Release/GDSplashes.dll
